body{
  margin: 0;
  padding: 0;
  background-color: #eff0f4;
}
header{
  .header{
    background: linear-gradient(to bottom, #1690cf, #1ca8f3);
    padding: 3rem 2rem 1rem 2rem;
    text-align: center;
    .back{

    }
    .register, .close, .login{
      color: white;
    }
    .register{
      float: right;
    }
    .close{
      float: left;
    }
    .login{
      font-size: 1.5rem;
      position: relative;
      top: -0.25rem;
    }
  }
}
main{
  padding:1rem 0;
  table{
    width: 100%;
    background-color: white;
    text-align: center;
    img{
      transform: scale(0.7);
    }
    input{
      width: 100%;
      border: none;
    }
  }
}
footer{
  width: 100%;
  a{
    text-decoration: none;
    :visited{
      color: #9b9c9c;
    }
  }
  .login-btn{
    height: 3rem;
    width: 100%;
    background-color: #1ca9f4;
    text-align: center;
    display: table;
    margin-bottom: 0.5rem;
    .btn{
      display: table-cell;
      vertical-align: middle;
      color: white;
    }
  }
  .forget-pw, .footer-register{
    display: inline-block;
    color: #9b9c9c;
  }
  .forget-pw{
    float: right;
  }
  .otherLogin{
    margin-top: 10rem;
    width: 100%;
    text-align: center;
    .loginTitle{
      color: #dcdddf;
      text-align: center;
      .bar{
        width: 30%;
        height: 0.1rem;
        background-color: #dcdddf;
        display: inline-block;
        position: relative;
        top: -0.3rem;

      }
    }
    .wechat, .weibo, .QQ{
      display: inline-block;
      padding-top: 5rem;
      margin: 0.5rem;
    }
  }
}
